@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    transition: all .5s;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
}

body{
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        background-color: #000;
        color: #fff;
}
/*header*/
header {
    width: 100%;
    height: 8vh;
    background-color: rgba(0, 0, 0, 80%);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    overflow: hidden;
}

header h2 {
    flex-direction: center;
    font-family: 'Cormorant Garamond', serif;
    color: #fff;
    font-size: 2rem;
    align-items: center;
    margin-left: 11rem;
    font-size: 2rem;
}

header nav {
    margin: 0 11rem;
    font-size: 1rem;
}

header nav a {
    margin: 0 2.5rem;
}

header nav a:hover {
    color: #39574C;
}
header nav {
    color: #fff;
    display: block;
}
/*//header*/
/* ham button ///////////*/
header .ham {
    display: none;
    width: fit-content;
    height: fit-content;
}
header button{
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
}
header button i:hover{
    color: #39574C;
}
/* //ham button ///////////*/
/* hamheader/////////////////////// */
.inner{
    width: 100%;
    height: 8vh;
    background-color: rgba(0, 0, 0, 90%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    display: none;
}
.inner button[type=button]{
    width:10%;
    height: 100%;
    display: block;
    float: left;
    background: none;
    border: none;
    font-size: 1.5rem;
}
.inner button[type=button] i:hover{
    color: #39574C;
        cursor: pointer;
}
.inner ul{
    float: left;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
}
.inner ul li a:hover{
    color: #39574C;
}
/* hamheader */
/*footer*/
footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: absolute;
    bottom: 0; */
}

footer .footerlogo {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 800;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #A5A5A5;
    font-size: 1.7rem;
    width: fit-content;
    height: fit-content;
}
footer .footertext p {
    color: #525252;
}
footer .footerlogo figure{
    width: fit-content;
    height: fit-content;
    display: block;
}
footer .footerlogo figure img{
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
}
/*//footer*/
/* //////////////////////////////////////////////// */
@media screen and (max-width:1447px) {
    html {
        font-size: 13px;
    }
    header h2 {
        margin-left: 5rem;
        font-size: 1.7rem;
    }

    header nav {
        margin: 0 5rem;
        font-size: 1rem;
    }

    header nav a {
        margin: 0 2rem;
    }

    footer .footerlogo {
        font-weight: 700;
        font-size: 1.3rem;
    }
}
@media screen and (min-width:1024px) and (max-width:1199px) {

    header nav {
        margin: 0 3rem;
    }

    header h2 {
        margin-left: 3rem;
    }

    footer {
        flex-direction: column;
        margin: 1rem 0;
    }

    footer img {
        width: 80%;
    }

    footer p {
        margin-bottom: .5rem;
    }
    footer .footertext{
        line-height: 5rem;
    }
}

@media screen and (min-width:769px) and (max-width:1023px) {
    header nav {
        margin: 0 2rem;
    }


    header h2 {
        margin-left: 3rem;
    }

    footer {
        flex-direction: column;
        margin: 1rem 0;
        height: fit-content;
        height: fit-content;
    }
    .footerlogo{
        margin-bottom: 1rem;
    }

    footer img {
        width: 80%;
    }

    footer p {
        margin-bottom: .5rem;
        text-align: center;
    }

    footer .footertext {
        line-height: 2rem;
    }
}
@media screen and (max-width:768px) {
    header nav {
        display: none;
    }
    header h2 {
        font-size: 1.7rem;
        margin: auto;
        position: inherit;
        width: 100%;
        display: flex;
        justify-content: center;

    }
     header .ham {
        display: block;
        margin-left: 3%;
        z-index: 99;
    }
        footer {
        flex-direction: column;
        margin: 1rem 0;
        height: fit-content;
    }
    footer p {
        text-align: center;
        font-size: 1rem;
    }
    footer .footertext {
        padding: 0 2rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
    }
    .footerlogo{
        margin-bottom: 1rem;
    }
    footer img {
        width: 70%;
    }
}
@media screen and (min-width:500px) and (max-width:768px) {
    html {
        font-size: 12px;
    }
    footer img {
        width: 80%;
    }
     
}
@media screen and (max-width:499px) {
    html {
        font-size: 10px;
    }

    footer img {
        width: 60%;
    }
   

    footer .footertext {
        margin-bottom: 1.5rem;
    }
}
