@import url(./stylesheetreset.css);
@import url(./headerfooterstylesheet.css);
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Noto Sans KR', sans-serif;
*/
/* -------------------company-------------------- */
#company {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/companybg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.companybox {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 45vh;
    margin: auto;
    /* background-image: url(../img/companybg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; */
    color: #fff;
}

#company h2 {
    font-size: 3.5rem;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

#company p {
    font-size: 2rem;
}

/* //company */
/* introduction */
#introduction {
    width: 100%;
    height: fit-content;
}

/* textbox1 */
.textbox1 {
    width: 90%;
    height: fit-content;
    margin: 20% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textbox1 figure {
    width: 15%;
    height: fit-content;
    position: relative;
    border-bottom: 1px solid #fff;
    padding-bottom: 2rem;
    margin-bottom: 6rem;
}
.textbox1 figure img{
    width: 100%;
    height: 100%;
    margin: auto;
}
.textbox1 p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 4rem;
}
.textbox1 .iconbox p{
    margin: auto;
}

.textbox1 .icon {
    width: 90%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.textbox1 .icon .iconbox {
    width: 10.5rem;
    height: 10.5rem;
    display: block;
    background-color: #39574C;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* textbox1 */
/* textbox2 */
.textbox2 {
    width: 100%;
    height: 40%;
    margin: 10% 0;
    display: flex;
    align-items: center;
    text-align: center;

}
.textbox2 .box {
    width: calc(100%/3);
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.textbox2 .title {
    width: 100%;
    height: 50%;
    margin: 3.5rem 0;
}

.textbox2 h2 {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
}
.textbox2 h2 span {
    color: #39574C;
}

.textbox2 h3 {
    font-size: 2rem;
    font-weight: 900;
}

/* text p */
.textbox2 .text {
    background-color: #39574C;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    padding: 3rem 1rem;
}

.textbox2 .text p {
    font-size: 1.4rem;
}

/* //textbox2 */
/* -------------------company-------------------- */
/* -----------------------history -----------------------*/
#history {
    width: 100%;
    height: fit-content;
    margin: 10% 0;
    display: block;
    overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: re;
}

/* history title */
#history .historytitle {
    width: 100%;
    height: 20%;
    color: #39574C;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 10%;
    background-color: black;
}

#history .historytitle span {
    color: #fff;
    font-weight: 900;
    font-size: 5.5rem;
}

.timeline h4 {
    font-size: 3.5rem;
    color: #39574C;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 2.5rem;
    display: block;
}

.timeline p {
    font-size: 1.3rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.timeline br {
    display: none;
}

/* history title--------- */

.timelinebox {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    position: inherit;
    z-index: 80;
}

.timeline {
    position: relative;
    width: 100%;
    text-align: right;
}

.timeline li {
    position: relative;
    display: flex;
    margin-bottom: 10rem;
}

.timeline .ns1 {
    position: relative;
    width: 40%;
    overflow: hidden;
}

.timeline:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 20px;
    bottom: 0;
    width: 2px;
    background: #ffffff;
}

.timeline li:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 18px;
    width: 30px;
    height: 30px;
    background: #39574C;
    border-radius: 50%;
    margin-left: -14px;
    z-index: 99;
    outline: 5px solid #fff;
}

.timeline li:nth-child(odd) {
    justify-content: flex-end;
    text-align: left;
}

/* -----------------------history -----------------------*/
/* ------------------client---------------------- */
#client {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    margin-top: 25rem;
    margin-bottom: 20rem;
}

/* ------------------flow-text--------------------- */
#client .flow-text {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    /* /////////// */
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    color: #fff;
}

.flow-text:hover .flow-wrap,
.flow-img:hover {
    animation-play-state: paused;
}
.flow-wrap {
    animation: textLoop 10s linear infinite;
}

@keyframes textLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.clientlogo {
    width: 100%;
    overflow: hidden;
    height: 10vh;
    background-color: #747474;
    margin: 1rem 0;
    display: block;
    padding: 1rem 0;
}

.clientlogo .flow-img{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    position: relative;
    left: -50%;
}
.flow-wrap1{
margin-right: 3rem;
flex-shrink: 0;
}
.flow-wrap1 img{
    margin: auto;
    width: 100%;
    height: 100%;
}

/*/////////////*/
.flow-img{
    animation: imgLoop 30s linear infinite;
}

@keyframes imgLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

/* //////////// */
@media screen and (max-width:1660px) {
     .textbox2 .text p br{
        display: none;
    }
    .flow-wrap1 img{
        width: 90%;
    }
}


@media screen and (max-width:1140px) {
    .timeline br {
        display: block;
    }
    .timeline p{
        line-height: 1.5rem;
    }
    #company p {
        font-size: 1.5rem;
    }
.flow-wrap1 img{
        width: 80%;
    }
    .flow-wrap1{
        margin-right: 2rem;
    }
}
@media screen and (min-width:1024px) and (max-width:1210px) {
    #history .historytitle h2 span{
        font-size: 5rem;
        line-height: 7rem;
    }
    #history .historytitle h2{
        font-size: 3rem;
    }
    .textbox2 .text p {
        font-size: 1.2rem;
    }
    .textbox2 .text{
        height: 60%;
    }

}


/*태블릿*/
@media screen and (max-width:1023px){
    .textbox1 p br{
        display: none;
    }
    .textbox2{
        height: fit-content;
        flex-direction: column;
    }
    .textbox2 .box{
        width: 100%;
        height: fit-content;
        flex-direction: row;
        display: block;
        margin: 2rem 0;
    }
    .textbox2 .text{
        height: 100%;
        
    }
    #history{
        margin: 20% 0;
    }
    .clientlogo{
        padding: 2rem 0;
    }
    .flow-wrap1 img{
        width: 70%;
    }
    .flow-wrap1{
        margin-right: 1rem;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    .textbox2 .text p {
        font-size: 1.2rem;
    }
    .timeline h4 {
        font-size: 3rem;
    }
}
/*모바일*/
@media screen and (max-width:767px){
    #company h2 {
        font-size: 3.2rem;
    }
    #company p{
        font-size: 1.6rem;
    }
    .textbox1 .icon{
        width: 100%;
    }
    .textbox1 .icon .iconbox{
        width: 8rem;
        height: 8rem;
    }
    .textbox1 .icon .iconbox p{
        font-size: 1.1rem;
    }
    .textbox2 .text p{
        font-size: 1.2rem;
    }
    #history .historytitle {
        width: 80%;
        font-size: 2rem;
    }
    #history .historytitle span {
        font-size: 4rem;
    }
    .timeline h4 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .timeline p{
        line-height: 2rem;
    }
    .timeline li:before {
        width: 25px;
        height: 25px;
        outline: 4px solid #fff;
        left: 50.5%;
    }
    

}
@media screen and (max-width:499px){
    #history .historytitle {
        width: 80%;
        font-size: 1.5rem;
    }
    #history .historytitle span {
        font-size: 3rem;
    }
    .timeline h4 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
    .timeline p{
        line-height: 2rem;
    }
}