@import url(./stylesheetreset.css);
@import url(./headerfooterstylesheet.css);
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

#section {
    background-color: #000;
}


/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Noto Sans KR', sans-serif;
*/
/*main*/
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
    height: auto !important;
}

main .short-con {
    width: 100%;
    background-image: url(../img/mainbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200vh;
}

main {
    position: relative;
}

main .textbox {
    width: 40%;
    height: fit-content;
    left: 9%;
    top: 30%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

main h1 {
    font-family: 'Cormorant Garamond', serif;
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
}

main h3 {
    color: #fff;
    font-size: 1.4rem;
    margin: 2rem auto;
}

/*img*/
main .bglogo {
    width: 7%;
    height: fit-content;
    position: absolute;
    right: 4%;
    top: 6%;
}

main .bglogo img {
    width: 100%;
    height: 100%;
    display: block;
}

main .textbox p {
    font-size: 1.3rem;
    line-height: 2.8rem;
    display: block;
}

main .scrollbtn {
    width: 8%;
    height: fit-content;
    top: 43%;
    right: 5%;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
}

main .scrollbtn figure img {
    width: 100%;
    height: 100%;
    display: block;
}

main .scrollbtn p {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0.7rem;
    font-family: 'Cormorant Garamond', serif;
}

main .line {
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin: auto;
    overflow: hidden;
    margin-bottom: 3.5rem;
}

main .line figure img {
    width: 100%;
    height: 100%;
    display: block;
}

/* slide //////////*/
/* .slide {
    display: flex;
    overflow: hidden;
} */
/* slide./////////// */

/*//main*/
/*business*/
.business{
    width: 100%;
    height: 70%;
    margin: auto;
}
.business .businesslogo {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    margin:auto;
    margin-bottom: 3rem;
}
.business .businesslogo figure{
    width: fit-content;
    height: fit-content;
    display: block;
}
.business .businesslogo figure img{
    width: 100%;
    height: 100%;
    margin: auto;
}
/* .business .cneter{
    width: 100%;
    height: fit-content;
} */
.business h2 {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-family: 'Cormorant Garamond', serif;
    color: #fff;
}
.slick-track{
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}
.sb{
margin: 0 2rem;
}
.sb img{
    width: 80%;
    margin: auto;
}
.sb.slick-center img{
    width: 100%;
}

/*//business*/
/*exampleof*/

.exampleof {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.exampleof .box {
    width: 90%;
    overflow: hidden;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.exampleof figure {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.exampleof .box .left {
    width: 45%;
    height: fit-content;
    margin: auto;
}

.exampleof .box .right {
    width: 45%;
    height: fit-content;
    margin: auto;
}

/*exampleof text*/
.exampleof h6 {
    font-size: 2.5rem;
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
}

.exampleof h2 {
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-size: 4.3rem;
    font-weight: 600;
    margin-bottom: 5rem;
}

.exampleof h2 span {
    color: #39574C;
}

.exampleof p {
    font-size: 1.3rem;
    line-height: 3.5rem;
    margin-bottom: 8rem;
}

.exampleof .contectbtn {
    width: fit-content;
    height: fit-content;

}

.exampleof .box a {
    color: #fff;
    background-color: #39574c;
    font-size: 1.3rem;
    border-radius: 5px;
    padding: .5rem 1.5rem;
    font-family: 'Cormorant Garamond', serif;
    display: block;
}

/*//exampleof text*/
/*//exampleof*/
/*sns*/
#sns {
    width: 100%;
    height: fit-content;
    background-image: url(../img/snsbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-repeat: repeat-x;
    margin: auto;
}

#sns h2 {
    width: fit-content;
    height: fit-content;
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
    margin: auto;
    margin-bottom: 5rem;
    margin-top: 8rem;
}

#sns .snsicon .iconbox p {
    font-size: 1.5rem;
}

#sns .snsicon {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    margin: auto;
    /* ////// */
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

#sns .snsicon .iconbox {
    width: 10%;
    height: fit-content;
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sns .snsicon img {
    margin: auto;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
}


/*//sns*/
@media screen and (max-width:1620px) {
    .exampleof h6 {
        font-size: 2.5rem;
    }

    .exampleof h2 {
        font-size: 3.5rem;
    }

    .exampleof p br {
        display: none;
    }

    .exampleof p {
        font-size: 1.2rem;
    }
}
@media screen and (max-width:1200px) {
    .sb img{
        width: 60%;
        margin: auto;
    }
    .sb{
        margin: 0;
        }
        .sb.slick-center img{
            width: 100%;
        }
        .business .businesslogo figure img{
            width: 80%;
            height: 80%;
        }
        .business{
            height: 60%;
        }
        .sb.slick-center img{
            width: 85%;
        }
}


@media screen and (min-width:1024px) and (max-width:1460px) {
    .short-con .textbox p br {
        display: none;
    }
}

/* 태블릿/////////////// */

@media screen and (min-width:768px) and (max-width:1023px) {
    .exampleof h2 {
        margin-bottom: 5rem;
    }

    .short-con .textbox p br {
        display: none;
    }

    /* .short-con .textbox p br {
        display: none;
    } */
    .sb.slick-center img{
        width: 60%;
    }

}

/* //////////////////////// */
@media screen and (max-width:880px) {
    .short-con .textbox p br {
        display: none;
    }

    main h1 {
        text-align: center;
        line-height: 6rem;
    }

    main h1 br {
        display: block;
    }

    main .textbox {
        width: 80%;
        justify-content: center;
        align-items: center;
        left: none;
    }

    .exampleof p {
        margin-bottom: 2rem;
    }

    .exampleof p br {
        display: block;
    }

    .exampleof h2 {
        margin-bottom: 2rem;
    }

    .exampleof .box {
        flex-direction: column;
    }

    .exampleof .box .left {
        width: 80%;
        margin-bottom: 2rem;
        text-align: center;
    }

    .exampleof .box .right {
        width: 60%;
        text-align: center;
    }

    .exampleof .direction {
        flex-direction: column-reverse;
    }

    .exampleof .direction .right {
        margin-bottom: 2rem;
        width: 80%;
    }

    .exampleof .direction .left {
        margin-bottom: 0;
        width: 60%;
    }

    .exampleof .contectbtn {
        margin: auto;
    }
}

/* //////////////////////// */

@media screen and (max-width:767px) {
    .exampleof .contectbtn {
        display: none;
    }

    .exampleof .box .left {
        width: 90%;
    }

    .exampleof .box .right {
        width: 70%;
    }

    .exampleof .direction .left {
        width: 70%;
    }

    .exampleof .direction .right {
        width: 90%;
    }
    .sb.slick-center img{
        width: 80%;
    }
    .business .businesslogo figure img{
        width: 80%;
        height: 80%;
    }
}

@media screen and (max-width:499px) {
    .exampleof .box .left,
    .exampleof .box .right {
        width: 100%;
    }
    .business{
        height: 50%;
    }

    .exampleof h6 {
        margin-bottom: 1rem;
    }

    #sns h2 {
        font-size: 3rem;
    }

    main h1 {
        font-size: 4rem;
    }
    .exampleof p br {
        display: none;
    }
}