@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poppins', sans-serif; */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    color: #fff;
    background-color: #000;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}

button,
a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 24px;
    font-family: var(--notokr);
}

:root {
    --Poppins: 'Poppins', sans-serif;
    --notokr: 'Noto Sans KR', sans-serif;
    --regular: 400;
    --medium: 500;
    --bold: 700;
}

#intro {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    text-align: center;
    z-index: 9997;
    /* display: none; */
    overflow: hidden;
}

.slider {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(100vh);
    z-index: 9998;
    /* display: none; */
}

#intro .container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro .container .intro_warp {
    width: fit-content;
    height: fit-content;
    position: relative;
}

#intro .container .intro_warp .intro_txt {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 2rem;
    line-height: 1.5;
}

#intro .container .intro_warp .intro_txt .typing {
    position: relative;
}

#intro .container .intro_warp .intro_txt .typing.second_txt {
    font-weight: 700;
    color: #000;
}

#intro .container .intro_warp .intro_txt .typing.second_txt::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-left: 3px solid #000;
    animation: introtyping 2s steps(12) infinite;
}

@keyframes introtyping {

    40%,
    60% {
        left: calc(100% + 4px);
    }

    100% {
        left: 0%;
    }
}

.cursor {
    z-index: 101;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #fff;
    transition: width 0.4s, height 0.4s, transform 0.4s;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}

.cursor.on {
    width: 60px;
    height: 60px;
}

#warp {
    width: 100%;
}

.container {
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 99;
    background: transparent;
    transition: 0.3s ease;
}

header.scrolldown {
    top: -100px;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 0;
}

header .header_ul {
    display: flex;
}

header .header_ul .header_li {
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 18px;
}

header .header_ul .header_li:last-child {
    margin-right: 0;
}

header .header_ul .header_li a {
    font-size: 1em;
}

header .circle {
    width: 25px;
    height: 25px;
    background-color: #fff;
    display: none;
    border-radius: 100%;
}

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

main .main_bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main .main_bg video {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

main .main_txt {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

main .main_txt .container span {
    color: #fff;
    text-transform: uppercase;
    font-family: var(--Poppins);
    font-size: 4rem;
    font-weight: var(--bold);
    display: block;
    line-height: 1.5;
}

nav {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

nav.Nactive {
    display: block;
}

nav .container {
    position: relative;
}

nav .container .nav_header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

nav .container .nav_header .nav_circle {
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 100%;
}

nav .container .nav_ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav .container .nav_ul li {
    color: #000;
    font-family: var(--Poppins);
    font-size: 4rem;
    font-weight: var(--bold);
    text-transform: uppercase;
    line-height: 2;
    overflow: hidden;
}

nav .container .nav_ul li a .i_box {
    width: 16%;
    margin-left: -16%;
}

nav .container .nav_ul li:hover a .i_box {
    margin-left: 0;
    transition: 0.3s;
}

nav .container .nav_ul li:hover a .i_box .nav_arrow {
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: #fff;
}

nav .container .nav_ul li:hover a p {
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: #fff;
}

nav .container .nav_ul li a {
    display: flex;
}

nav .container .nav_copy {
    color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
    font-size: 1rem;
}

.sec1 {
    margin-top: 300px;
}

.sec1 .container {
    position: relative;
}

.sec1 .container .earth {
    position: absolute;
    top: 0;
    right: 0;
}

.sec1 .container .earth video {
    width: 100%;
}

.sec1 .container .about {
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.sec1 .container .about .name {
    margin-bottom: 3.5%;
    overflow: hidden;
}

.sec1 .container .about .name span {
    font-family: var(--Poppins);
    font-size: 4rem;
    font-weight: var(--bold);
    display: block;
    text-transform: uppercase;
    line-height: 1.3;
}

.sec1 .container .about .name .first {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.sec1 .container .about .introduce {
    margin-bottom: 3.5%;
    overflow: hidden;
}

.sec1 .container .about .introduce p {
    width: fit-content;
    line-height: 2.2;
    font-size: 1.33rem;
}

.sec1 .container .about .click {
    width: fit-content;
    display: flex;
}

.sec1 .container .about .click:hover .resume_a {
    transform: rotate(45deg);
    transition: 0.3s linear;
}

.sec1 .container .about .click p {
    text-transform: uppercase;
    font-size: 1.3rem;
}

.sec1 .container .about .click .resume_a {
    font-size: 1.7rem;
    margin-left: 10px;
}

.sec2 {
    margin-top: 300px;
    overflow: hidden;
    position: relative;
}

.sec2 .sec2_img1 {
    width: 15rem;
    position: absolute;
    top: 10%;
    right: 8%;
}

.sec2 .sec2_img2 {
    width: 15rem;
    position: absolute;
    top: 63%;
    left: 8%;
}

.sec2 .container .sec_title {
    font-family: var(--Poppins);
    font-size: 3.33rem;
    font-weight: var(--bold);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 6.25rem;
}

.sec2 .container .sec_title span {
    color: #0047FF;
}

.sec2 .container .flow_warp {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    font-size: 20px;
}

.sec2 .container .flow_warp .flow_content {
    height: 510px;
    padding: 1px;
    position: relative;
    overflow: hidden;
}

.sec2 .container .flow_warp .flow_content .flow_c {
    height: 100%;
    background: linear-gradient(315deg, #010101 0%, #2d2d2d 100%);
    color: #fff;
    padding: 1em;
    box-sizing: border-box;
}

.sec2 .container .flow_warp .flow_content::after {
    content: "";
    display: block;
    width: 750px;
    height: 750px;
    background-size: 100% 100%;
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: linear-gradient(135deg, #fff 0%, rgba(255, 255, 255, 0) 50%, #fff 100%);
    transform: translate(-50%, -50%) rotate(0);
    animation: aniname 2s ease infinite;
}

@keyframes aniname {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
}

.sec2 .container .flow_warp .flow_content .flow_c .content_num {
    font-size: 1.33rem;
    font-weight: var(--medium);
    margin-bottom: 5%;
}

.sec2 .container .flow_warp .flow_content .flow_c .txt_warp {
    width: 100%;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-family: var(--notokr);
    font-weight: var(--medium);
    border-bottom: 3px solid #fff;
    line-height: 1.4;
    margin-bottom: 8%;
}

.sec2 .container .flow_warp .flow_content .flow_c .txt_warp:hover .flow_a {
    transform: rotate(180deg);
    transition: 0.3s linear;
}

.sec2 .container .flow_warp .flow_content .flow_c .txt_warp .flow_a {
    font-size: 2.5rem;
}

.sec2 .container .flow_warp .flow_content .flow_c .content_txt {
    line-height: 2;
    font-size: 1rem;
}

.sec2 .container .flow_warp .design {
    grid-column: 2/3;
}

.sec2 .container .flow_warp .build {
    grid-column: 3/4;
}

.sec3 {
    position: relative;
    margin-top: 300px;
}

.sec3 .container .sec_title {
    font-family: var(--Poppins);
    font-size: 3.33rem;
    font-weight: var(--bold);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 6.25rem;
}

.sec3 .container .sec3_content_warp {
    overflow: hidden;
}

.sec3 .container .sec3_content_warp .sec3_display {
    display: none;
}

.sec3 .container .sec3_content_warp .sec3_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
    margin-bottom: 6.25rem;
}

.sec3 .container .sec3_content_warp .sec3_content .left {
    width: 100%;
    overflow: hidden;
}

.sec3 .container .sec3_content_warp .sec3_content .left a .l_img {
    object-fit: cover;
    transition: 0.5s;
}

.sec3 .container .sec3_content_warp .sec3_content .left:hover a .l_img {
    transform: scale(1.05);
}

.sec3 .container .sec3_content_warp .sec3_content .right {
    width: 100%;
}

.sec3 .container .sec3_content_warp .sec3_content .right .txt_warp {
    margin-bottom: 5%;
}

.sec3 .container .sec3_content_warp .sec3_content .right .txt_warp:hover .right_a {
    transform: rotate(45deg);
    transition: 0.3s linear;
}

.sec3 .container .sec3_content_warp .sec3_content .right .txt_warp a {
    display: flex;
    justify-content: space-between;
}

.sec3 .container .sec3_content_warp .sec3_content .right .txt_warp a p {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: var(--bold);
}

.sec3 .container .sec3_content_warp .sec3_content .right .txt_warp a .right_a {
    font-size: 2.5rem;
}

.sec3 .container .sec3_content_warp .sec3_content .right .txt_mid {
    font-size: 1rem;
    font-weight: var(--medium);
    margin-bottom: 3%;
}

.sec3 .container .sec3_content_warp .sec3_content .right .txt_inner {
    line-height: 2;
    font-size: 1rem;
}

.sec3 .container .click {
    text-transform: uppercase;
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    color: #fff;
    margin: auto;
    cursor: pointer;
}

.sec3 .container .B_plus {
    display: block;
}

.sec3 .container .B_minus {
    display: none;
}

.sec4 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.sec4 .sec4_bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sec4 .sec4_bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec4 .container {
    position: relative;
}

.sec4 .container .sec4_txt_warp {
    height: 100%;
    position: relative;
}

.sec4 .container .sec4_txt_warp .sec4_tbox {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec4 .container .sec4_txt_warp .sec4_tbox .sec_title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px;
}

.sec4 .container .sec4_txt_warp .sec4_tbox .sec_title p {
    font-size: 3em;
    font-family: var(--Poppins);
    font-weight: var(--bold);
    text-transform: uppercase;
    line-height: 1.5;
}

.sec4 .container .sec4_txt_warp .sec4_tbox .sec_title .sec4_txt1 .pc_on {
    display: none;
}

.sec4 .container .sec4_txt_warp .sec4_tbox .sec_title .sec4_txt1 span {
    color: #0047FF;
}

.sec4 .container .sec4_txt_warp .contact_inner {
    display: flex;
    justify-content: center;
}

.sec4 .container .sec4_txt_warp .contact_inner .contact_txt {
    display: flex;
    box-sizing: border-box;
}

.sec4 .container .sec4_txt_warp .contact_inner .contact_txt:first-of-type {
    margin-right: 4%;
}

.sec4 .container .sec4_txt_warp .contact_inner .contact_txt .icon {
    font-size: 1rem;
}

.sec4 .container .sec4_txt_warp .contact_inner .contact_txt:first-of-type .icon {
    transform: rotate(45deg);
}

.sec4 .container .sec4_txt_warp .contact_inner .contact_txt p {
    font-size: 1rem;
    margin-left: 10px;
}

.sec4 .container .copy {
    font-size: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}

@media screen and (max-width:1500px) {
    html {
        font-size: 22px;
    }

    #intro .container {
        padding: 0;
    }

    .container {
        padding: 0 2.5rem;
    }

    .sec2 .sec2_img1 {
        right: 3%;
    }

    .sec2 .sec2_img2 {
        left: 3%;
    }

    .sec2 .container .flow_warp .flow_content {
        height: 460px;
    }

    .sec4 .container .sec4_txt_warp .sec4_tbox .sec_title {
        font-size: 20px;
    }
}

@media screen and (max-width:1200px) {
    html {
        font-size: 18px;
    }

    .sec1 .container .earth {
        width: 55%;
    }

    .sec2 .container .flow_warp {
        gap: 30px;
    }

    .sec2 .container .flow_warp .flow_content {
        height: 420px;
    }

    .sec3 .container .sec3_content_warp .sec3_content {
        gap: 30px;
    }

    .sec4 .container .sec4_txt_warp .sec4_tbox .sec_title {
        font-size: 16px;
    }
}

@media screen and (max-width:1024px) {
    html {
        font-size: 15px;
    }

    .sec2 .sec2_img2 {
        top: 60%;
    }

    .sec2 .container .flow_warp .flow_content {
        height: 310px;
    }

    .sec4 {
        height: 70vh;
    }

    .sec4 .container .sec4_txt_warp .sec4_tbox .sec_title {
        font-size: 14px;
    }
}

@media screen and (max-width:830px) {
    html {
        font-size: 13px;
    }

    main .main_txt .container span {
        font-size: 7vw;
    }

    .sec2 .container .flow_warp {
        font-size: 15px;
        gap: 20px;
    }

    .sec2 .container .flow_warp .flow_content {
        height: 280px;
    }

    .sec3 .container .sec3_content_warp .sec3_content {
        gap: 20px;
    }

    .sec4 .container .sec4_txt_warp .sec4_tbox .sec_title {
        font-size: 12px;
        margin-bottom: 30px;
    }

    .sec4 {
        height: 70vh;
    }

    .sec4 .container .copy {
        bottom: 30px;
    }
}

@media screen and (max-width:690px) {
    .cursor {
        display: none !important;
    }

    header .header_ul {
        display: none;
    }

    header .circle {
        display: block;
    }

    .sec1 {
        margin-top: 250px;
    }

    /* .sec1 .container .about{
        padding-top: 60px;
    } */
    .sec1 .container .about .name {
        text-align: center;
    }

    .sec1 .container .about .introduce {
        margin-bottom: 20px;
    }

    .sec1 .container .about .introduce p {
        margin: auto;
    }

    .sec1 .container .about .click {
        margin: auto;
    }

    .sec1 .container .earth {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        top: 50%;
    }

    .sec2 {
        margin-top: 250px;
    }

    .sec2 .sec2_img1,
    .sec2 .sec2_img2 {
        display: none;
    }

    .sec2 .container .flow_warp {
        grid-template-columns: repeat(2, 1fr);
    }

    .sec2 .container .flow_warp .design {
        grid-column: 1/2;
    }

    .sec2 .container .flow_warp .build {
        grid-column: 2/3;
    }

    .sec3 {
        margin-top: 250px;
    }

    .sec3 .container .sec3_content_warp .sec3_content {
        display: block;
    }

    .sec3 .container .sec3_content_warp .sec3_content .left {
        margin-bottom: 8%;
    }

    .sec3 .container .sec3_content_warp .sec3_content .right .txt_warp {
        margin-bottom: 4.5%;
    }

    .sec3 .container .sec3_content_warp .sec3_content .right .txt_mid {
        margin-bottom: 3.5%;
    }

    .sec4 .container .sec4_txt_warp .sec4_tbox .sec_title .sec4_txt1 .pc_on {
        display: block;
    }
}

@media screen and (max-width:530px) {
    html {
        font-size: 12px;
    }

    .container {
        padding: 0 20px;
    }

    .sec1 .container .earth {
        width: 100%;
    }

    .sec1 .container .about .name {
        margin-bottom: 4.5%;
    }

    .sec1 .container .about .introduce p .pc_on {
        display: none;
    }

    .sec2 .container .flow_warp .flow_content {
        height: 240px;
    }

    .sec4 {
        height: 60vh;
    }

    .sec4 .container .sec4_txt_warp .sec4_tbox .sec_title {
        font-size: 11px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:400px) {
    main {
        margin-bottom: 170px;
    }

    nav .container .nav_ul li {
        font-size: 3rem;
    }

    .sec1 {
        margin-top: 170px;
    }

    .sec1 .container .about .name span {
        font-size: 3rem;
    }

    .sec1 .container .about .introduce p {
        font-size: 1.16rem;
    }

    .sec1 .container .about .click p {
        font-size: 1.16rem;
    }

    .sec2 {
        margin-top: 170px;
    }

    .sec2 .container .flow_warp {
        font-size: 10px;
    }

    .sec2 .container .sec_title {
        font-size: 2.33rem;
        margin-bottom: 4.2rem;
    }

    .sec2 .container .flow_warp .flow_content {
        height: 220px;
    }

    .sec2 .container .flow_warp .flow_content .flow_c .content_num {
        font-size: 1.1rem;
    }

    .sec2 .container .flow_warp .flow_content .flow_c .txt_warp {
        font-size: 1.66rem;
        line-height: 1.5;
    }

    .sec2 .container .flow_warp .flow_content .flow_c .txt_warp .flow_a {
        font-size: 2rem;
    }

    .sec3 {
        margin-top: 170px;
    }

    .sec3 .container .sec_title {
        font-size: 2.33rem;
        margin-bottom: 4.2rem;
    }

    .sec3 .container .sec3_content_warp .sec3_content .right .txt_warp a p {
        font-size: 1.66rem;
    }

    .sec4 .container .sec4_txt_warp .sec4_tbox .sec_title p {
        font-size: 2.54em;
    }

    .sec4 .container .sec4_txt_warp .contact_inner {
        display: block;
        width: fit-content;
        margin: auto;
    }

    .sec4 .container .sec4_txt_warp .contact_inner .contact_txt:first-of-type {
        margin-bottom: 10px;
    }

    .sec2 .container .flow_warp .flow_content .txt_warp {
        border-bottom: 1px solid #000;
    }
}

@media screen and (max-width:380px) {
    html {
        font-size: 11px;
    }

    .sec2 .container .flow_warp .flow_content {
        height: 200px;
    }

    .sec4 .container .sec4_txt_warp .sec4_tbox .sec_title {
        font-size: 10px;
    }
}