@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Gurmukhi&family=Uchen&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR','Noto Sans';
    box-sizing: border-box;
}
::-webkit-scrollbar{
    background-color: #0e0e0e;
}
::-webkit-scrollbar-thumb{
    background-color: #ffffff;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
body{
    background-color:  #0e0e0e;
    font-size: 14px;
}
.header {
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index:99;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    margin-top: 20px;
  }
/* 반응 HEADER */
.header.smaller {
    margin-top: 0;
    background-color: #ffffff;
}
.header.smaller{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 반응 HEADER */
.header.smaller .on {
    opacity: 1;
}
.header.smaller img{
    margin-top: 0;
    opacity: 0;
} 
.header.smaller a {
    color: #000000;
}
.header.smaller .asns {
    margin-top: 5px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.inner {
    width: 1440px;
    margin: auto;
    max-width: 100%;
}
.heabox{
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.amenu ul li{
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
}
.amenu ul li{
    margin-right: 50px;
}
.amenu ul li:nth-child(4){
    margin-right: 0px;
}
.asns li {
    display: inline;
    font-size: 24px;
    margin-right: 15px;
    font-weight: 500;
}
  .asns li:last-child {
    margin-right: 0px;
}
.alogo {
    margin: 5px 0;
    width: 200px;
    height: 70px;
    position: relative;
}
.on{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#alogo {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
nav.navbar{
    display: none;
}
/*  sec1!!  */
.sec1{
    width: 100%;
    overflow: hidden;
    margin: auto;
    color: #ffffff;
    color: #ffffff;
    font-size: 60px;
    position: relative;
    top: 300px;
}
.sec1inner{
    width: 1440px;
    margin: auto;
}
/*
*/
/*  sec2!!  */
.sec2text{
    width: 100%;
    position: relative;
    top: 400px;
    overflow: hidden;
    margin: auto;
    color: #ffffff;
    font-size: 20px;
    line-height: 35px;
    padding: 30px 0px;
}
.sec2text .kor{
    width: 1440px;
    margin: 50px auto;
}
.sec2text .en{
    width: 1440px;
    margin : 50px auto;
}
/*
*/
/*  sec3!!  */
.sec3text{
    overflow: hidden;
    color: #ffffff;
    text-align: center;
    margin-top: 400px;
    padding: 100px 0px;
}
.sec3text .had{
    margin-bottom: 50px;
    font-size: 50px;
}
.sec3text p{
    margin-bottom: 40px;
}
.sec3text h3{
    margin-bottom: 40px;
}
.sec3text h2{
    margin-bottom: 40px;
}
/*
*/
/*  sec4!!  */
.sec4{
    width: 100%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 350px;
}
.sec4 .sec4img{
    text-align: center;
    margin: auto;
}
.sec4 .sec4img img{
    max-width: 100%;
}
/*
*/
/*  footer!!  */
footer{
    width: 100%;
    overflow: hidden;
    border-top: 2px solid #ffffff;
    margin: auto;
}
.ftinner{
    width: 76%;
    overflow: hidden;
    margin: 50px auto;
}
.finner{
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.finner .frogo{
    width: calc(100%/3);
}
.finner .ftext{
    width: calc(100%/3);
}
.finner .f2text{
    width: calc(100%/3);
}
.ft{
    margin-bottom: 15px;
}
.ft:nth-child(1){
    margin-bottom: 30px;
}
.ft:nth-child(3){
    margin-bottom: 20px;
}
.ft:nth-child(5){
    margin-bottom: 20px;
}
@media screen and (min-width:1320px) and (max-width: 1500px) {
     /* HEADER */
     .heabox{
        justify-content: space-around;
    }
    .amenu ul li{
            font-size: 20px;
    }
    .amenu ul li{
        margin-right: 30px;
      }
    .asns li{
        font-size: 20px;
    }
    .heabox a .alogo{
        width: 150px;
        height: 42px;
    }
    .on{
       max-width: 80%;
    }
    .in{
        max-width: 80%;
    }
    /*sec1*/
    .sec1{
        width: 80%;
        overflow: hidden;
        margin: auto;
        color: #ffffff;
        color: #ffffff;
        font-size: 55px;
        position: relative;
        top: 300px;
    }
    /*sec2*/
    .sec2text{
        width: 80%;
        position: relative;
        top: 350px;
        overflow: hidden;
        margin: auto;
        color: #ffffff;
        font-size: 18px;
        line-height: 35px;
        padding: 30px 0px;
    }
    .sec2text .kor{
        width: 100%;
    }
    .sec2text .en{
        width: 100%;
    }
    /*sec3*/
    .sec3text{
        overflow: hidden;
        color: #ffffff;
        text-align: center;
        margin-top: 400px;
        padding: 100px 0px;
    }
    .sec3text .had{
        margin-bottom: 50px;
        font-size: 45px;
    }
    .sec3text p{
        margin-bottom: 40px;
    }
    .sec3text h3{
        margin-bottom: 40px;
    }
    .sec3text h2{
        margin-bottom: 40px;
    }
    .sec4 .sec4img img{
        max-width: 90%;
    }
}
@media screen and (min-width:1170px) and (max-width: 1320px) {
    /* HEADER */
    .heabox{
        justify-content: space-around;
    }
    .amenu ul li{
            font-size: 20px;
    }
    .amenu ul li{
        margin-right: 30px;
      }
    .asns li{
        font-size: 20px;
    }
    .heabox a .alogo{
        width: 150px;
        height: 42px;
    }
    .on{
       max-width: 80%;
    }
    .in{
        max-width: 80%;
    }
    /*sec1*/
    .sec1{
        width: 90%;
        overflow: hidden;
        margin: auto;
        color: #ffffff;
        color: #ffffff;
        font-size: 50px;
        position: relative;
        top: 250px;
    }
    /*sec2*/
    .sec2text{
        width: 90%;
        max-width: 100%;
        position: relative;
        top: 300px;
        overflow: hidden;
        margin: auto;
        color: #ffffff;
        font-size: 18px;
        line-height: 30px;
        padding: 30px 0px;
    }
    .sec2text .kor{
        width: 100%;
        max-width: 100%;
        margin-left: 0px;
        margin: 30px 0px;
    }
    .sec2text .en{
        width: 100%;
        max-width: 100%;
        margin-left: 0px;
        margin: 30px 0px;
        margin-top: 50px;
    }
    /*sec3*/
    .sec3text{
        overflow: hidden;
        color: #ffffff;
        text-align: center;
        margin-top: 300px;
        padding: 100px 0px;
    }
    .sec3text .had{
        margin-bottom: 50px;
        font-size: 45px;
    }
    .sec3text p{
        margin-bottom: 40px;
    }
    .sec3text h3{
        margin-bottom: 40px;
    }
    .sec3text h2{
        margin-bottom: 40px;
    }
    .sec4{
        margin-top: 50px;
        margin-bottom: 200px;
    }
    .sec4 .sec4img img{
        max-width: 90%;
    }
    /* FOOTER */
    .ftinner{
        width: 90%;
        overflow: hidden;
        margin: 50px auto;
    }
    .finner{
        justify-content: space-between;
    }
    .finner .frogo{
        width: calc(100%/5);
    }
    .finner .ftext{
        width: calc(100%/5);
    }
    .finner .f2text{
        width: calc(100%/5);
    }
}
@media screen and (min-width:1023px) and (max-width: 1170px) {
     /* HEADER */
     .heabox{
        justify-content: space-around;
    }
    .amenu ul li{
            font-size: 20px;
    }
    .amenu ul li{
        margin-right: 30px;
      }
    .asns li{
        font-size: 20px;
    }
    .heabox a .alogo{
        width: 150px;
        height: 42px;
    }
    .on{
       max-width: 80%;
    }
    .in{
        max-width: 80%;
    }
    /*sec1*/
    .sec1{
        width: 90%;
        overflow: hidden;
        margin: auto;
        color: #ffffff;
        color: #ffffff;
        font-size: 45px;
        position: relative;
        top: 250px;
    }
    /*sec2*/
    .sec2text{
        width: 90%;
        max-width: 100%;
        position: relative;
        top: 300px;
        overflow: hidden;
        margin: auto;
        color: #ffffff;
        font-size: 16px;
        line-height: 30px;
        padding: 30px 0px;
    }
    .sec2text .kor{
        width: 100%;
        max-width: 100%;
        margin: 20px 0px;
    }
    .sec2text .en{
        width: 100%;
        max-width: 100%;
        margin: 20px 0px;
        margin-top: 50px;
    }
    /*sec3*/
    .sec3text{
        overflow: hidden;
        color: #ffffff;
        text-align: center;
        margin-top: 300px;
        padding: 100px 0px;
    }
    .sec3text .had{
        margin-bottom: 50px;
        font-size: 45px;
    }
    .sec3text p{
        margin-bottom: 40px;
    }
    .sec3text h3{
        margin-bottom: 40px;
    }
    .sec3text h2{
        margin-bottom: 40px;
    }
    .sec4{
        margin-top: 50px;
        margin-bottom: 200px;
    }
    .sec4 .sec4img img{
        max-width: 90%;
    }
    /* FOOTER */
    .ftinner{
        width: 90%;
        overflow: hidden;
        margin: 50px auto;
    }
    .finner{
        justify-content: space-between;
    }
    .finner .frogo{
        width: calc(100%/5);
    }
    .finner .ftext{
        width: calc(100%/5);
    }
    .finner .f2text{
        width: calc(100%/5);
    }
}
@media screen and (min-width:768px) and (max-width: 1023px) {
    /* HEADER */
    .heabox{
        justify-content: space-around;
    }
    .amenu ul li{
            font-size: 16px;
    }
    .amenu ul li{
        margin-right: 30px;
      }
    .asns li{
        font-size: 16px;
        margin-right: 10px;
    }
    .heabox a .alogo{
        width: 150px;
        height: 42px;
    }
    .on{
       max-width: 80%;
    }
    .in{
        max-width: 80%;
    }
    /*sec1*/
    .sec1{
        width: 90%;
        overflow: hidden;
        margin: auto;
        color: #ffffff;
        color: #ffffff;
        font-size: 45px;
        position: relative;
        top: 250px;
    }
    /*sec2*/
    .sec2text{
        width: 90%;
        max-width: 100%;
        position: relative;
        top: 300px;
        overflow: hidden;
        margin: auto;
        color: #ffffff;
        font-size: 15px;
        line-height: 30px;
        padding: 30px 0px;
    }
    .sec2text .kor{
        width: 100%;
        max-width: 100%;
        margin: 20px 0px;
    }
    .sec2text .en{
        width: 100%;
        max-width: 100%;
        margin: 20px 0px;
        margin-top: 50px;
    }
    /*sec3*/
    .sec3text{
        overflow: hidden;
        color: #ffffff;
        text-align: center;
        margin-top: 300px;
        padding: 100px 0px;
    }
    .sec3text .had{
        margin-bottom: 50px;
        font-size: 45px;
    }
    .sec3text p{
        margin-bottom: 40px;
    }
    .sec3text h3{
        margin-bottom: 40px;
    }
    .sec3text h2{
        margin-bottom: 40px;
    }
    .sec4{
        margin-top: 0px;
        margin-bottom: 200px;
    }
    .sec4 .sec4img img{
        max-width: 90%;
        margin: auto;
    }
    /* FOOTER */
    .ftinner{
         width: 90%;
        overflow: hidden;
        margin: 50px auto;
    }
    .finner{
        justify-content: space-between;
    }
    .finner .frogo{
        width: calc(100%/5);
    }
    .finner .ftext{
        width: calc(100%/5);
    }
    .finner .f2text{
        width: calc(100%/5);
    }
}
@media screen and (max-width: 768px){
    .header{
        display: none;
    }
    .header.smaller{
        display: none;
    }
    nav.navbar{
        display: flex;
    }
    /*sec1*/
    .sec1{
        width: 90%;
        overflow: hidden;
        margin: auto;
        color: #ffffff;
        color: #ffffff;
        font-size: 40px;
        position: relative;
        top: 150px;
    }
    /*sec2*/
    .sec2text{
        width: 90%;
        max-width: 100%;
        position: relative;
        top: 150px;
        overflow: hidden;
        margin: auto;
        color: #ffffff;
        font-size: 14px;
        line-height: 30px;
        padding: 30px 0px;
    }
    .sec2text .kor{
        width: 90%;
        max-width: 100%;
        margin: 30px 0px;
    }
    .sec2text .en{
        width: 90%;
        max-width: 100%;
        margin: 20px 0px;
        display: none;
    }
    /*sec3*/
    .sec3text{
        overflow: hidden;
        color: #ffffff;
        text-align: center;
        margin-top: 100px;
        padding: 100px 0px;
    }
    .sec3text .had{
        margin-bottom: 50px;
        font-size: 35px;
    }
    .sec3text p{
        margin-bottom: 40px;
    }
    .sec3text h3{
        margin-bottom: 40px;
        font-size: 16px;
    }
    .sec3text h2{
        margin-bottom: 40px;
        font-size: 18px;
    }
    .sec3text h1{
        margin-bottom: 40px;
        font-size: 20px;
    }
    /*.sec4*/
    .sec4{
        margin-top: -30px;
        margin-bottom: 150px;
    }
    .sec4 .sec4img img{
        max-width: 90%;
    }
      /* FOOTER */
   .ftinner{
        width: 90%;
        overflow: hidden;
        margin: 50px auto;
    }
    .finner{
        flex-direction: column;
    }
    .finner .ftext{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .finner .f2text{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .ft{
        margin-bottom: 10px;
    }
    .ft:nth-child(1){
        margin-bottom: 30px;
    }
    .ft:nth-child(3){
        margin-bottom: 30px;
    }
    .ft:nth-child(5){
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 660px){
    /*sec1*/
    .sec1{
        width: 90%;
        overflow: hidden;
        color: #ffffff;
        color: #ffffff;
        font-size: 35px;
        position: relative;
        top: 150px;
    }
    /*sec2*/
    .sec2text{
        width: 90%;
        max-width: 100%;
        position: relative;
        top: 150px;
        overflow: hidden;
        margin: auto;
        color: #ffffff;
        font-size: 13px;
        line-height: 30px;
        padding: 30px 0px;
    }
    .sec2text .kor{
        width: 90%;
        max-width: 100%;
        margin: 30px 0px;
    }
    .sec2text .en{
        width: 90%;
        max-width: 100%;
        margin: 20px 0px;
        display: none;
    }
    /*sec3*/
    .sec3text{
        overflow: hidden;
        color: #ffffff;
        text-align: center;
        margin-top: 100px;
        padding: 100px 0px;
    }
    .sec3text .had{
        margin-bottom: 50px;
        font-size: 35px;
    }
    .sec3text p{
        margin-bottom: 40px;
    }
    .sec3text h3{
        margin-bottom: 40px;
        font-size: 16px;
    }
    .sec3text h2{
        margin-bottom: 40px;
        font-size: 18px;
    }
    .sec3text h1{
        margin-bottom: 40px;
        font-size: 20px;
    }
    /*.sec4*/
    .sec4{
        margin-top: -30px;
        margin-bottom: 150px;
    }
    .sec4 .sec4img img{
        max-width: 90%;
    }
      /* FOOTER */
   .ftinner{
        width: 90%;
        overflow: hidden;
        margin: 50px auto;
    }
    .finner{
        flex-direction: column;
    }
    .finner .ftext{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .finner .f2text{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .ft{
        margin-bottom: 10px;
    }
    .ft:nth-child(1){
        margin-bottom: 30px;
    }
    .ft:nth-child(3){
        margin-bottom: 30px;
    }
    .ft:nth-child(5){
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 400px){
    /*sec1*/
    .sec1{
        width: 90%;
        overflow: hidden;
        margin: auto;
        color: #ffffff;
        color: #ffffff;
        font-size: 35px;
        position: relative;
        top: 150px;
        margin-left: 20px;
    }
    /*sec2*/
    .sec2text{
        width: 90%;
        max-width: 100%;
        position: relative;
        top: 150px;
        overflow: hidden;
        margin: auto;
        color: #ffffff;
        font-size: 13px;
        line-height: 30px;
        padding: 30px 0px;
        margin-left: 20px;
    }
    .sec2text .kor{
        width: 70%;
        max-width: 100%;
        margin-left: 0px;
        margin: 30px 0px;
    }
    .sec2text .en{
        width: 70%;
        max-width: 100%;
        margin-left: 0px;
        margin: 20px 0px;
        display: none;
    }
    /*sec3*/
    .sec3text{
        overflow: hidden;
        color: #ffffff;
        text-align: center;
        margin-top: 100px;
        padding: 100px 0px;
    }
    .sec3text .had{
        margin-bottom: 50px;
        font-size: 35px;
    }
    .sec3text p{
        margin-bottom: 40px;
    }
    .sec3text h3{
        margin-bottom: 40px;
        font-size: 16px;
    }
    .sec3text h2{
        margin-bottom: 40px;
        font-size: 18px;
    }
    .sec3text h1{
        margin-bottom: 40px;
        font-size: 20px;
    }
    /*.sec4*/
    .sec4{
        margin-top: -30px;
        margin-bottom: 150px;
    }
    .sec4 .sec4img img{
        max-width: 90%;
    }
      /* FOOTER */
   .ftinner{
        width: 90%;
        overflow: hidden;
        margin: 50px auto;
    }
    .finner{
        flex-direction: column;
    }
    .finner .ftext{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .finner .f2text{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .ft{
        margin-bottom: 10px;
    }
    .ft:nth-child(1){
        margin-bottom: 30px;
    }
    .ft:nth-child(3){
        margin-bottom: 30px;
    }
    .ft:nth-child(5){
        margin-bottom: 30px;
    }
    }

