@font-face {
    font-family: 'Noto Sans';
    src: url(../font/NotoSansKR-Light.otf);
}
@font-face {
    font-family: 'Noto Sans M';
    src: url(../font/NotoSansKR-Medium.otf);
}
@font-face {
    font-family: 'Noto Sans B';
    src: url(../font/NotoSansKR-Bold.otf);
}
@font-face {
    font-family: 'NanumSquare_ac';
    src: url(../font/NanumSquare_acL.ttf);
}
@font-face {
    font-family: 'NanumSquare_acEB';
    src: url(../font/NanumSquare_acEB.ttf);
}
*{margin: 0; padding: 0;}
html, body {
    height: 100%;
    font-family: 'Noto Sans';
}

a{  
    text-decoration: none;
    color: #000;
}
img{
    display: block;
}
li{
    list-style: none;
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #dbe2efb7; /* Set a background color */
    color: #112D4E; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 20px 21.2px; /* Some padding */
    font-size: 18px; /* Increase font size */
    border-radius: 50%;
}
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    color: #fff;
  }


/*header*/
.main-tool-bar{
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    transition: ease 0.4s;
    transition-duration: ease 0.4s;
    z-index: 99;
}
.main-tool-bar--scrolled {
    background-color: rgba(255, 255, 255, 0.671);
  }
header:hover{
    background-color: #fff;
    border-bottom: 1px solid rgb(177, 177, 177);
}


header a{
    color: rgb(0, 0, 0);
    display: inline-block;
    font-weight: 900;
}
header>div{
    width: 80%;
    height: 100%;
    margin: auto;
}
.logo_img{
    position: relative;
}
.logo_img img{
    position: absolute;
    top: 0;
    left: 0;
}
.logo_img img:nth-child(1){
    opacity: 0;
}

header img{
    float: left;
    margin-top: 31.5px;
}
header nav{
    float: right;
}
header ul{
    margin: 0;
    line-height: 100px;
}
header li{
    margin-left: 50px;
    line-height: 100%;
    display: inline-block;
}
.cool-link::after{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #3F72AF;
    transition: width .3s;
    margin-top: 5px;
}
.cool-link:hover::after{
    width: 100%;
    transition: width .3s;
}
/*header 끝*/

/*section3*/
.box:hover{
    box-shadow: 20px -20px rgba(0, 0, 0, 0.459);
    transition-duration: 0.4s;
}

#section3{
    width: 100%;
    height: 120vh;
    overflow: hidden;
    float: left;
    margin: 200px 0;
}
.s3_title{
    text-align: center;
}
.s3_title p{
    font-family: 'Noto Sans B';
    font-size: 22px;
}
.s3_title h3{
    font-family: 'Noto Sans B';
    font-size: 80px;
}


.s3_box{
    position: relative;
}
.box{
    width: 300px;
    height: 400px;
    float: left;
    transform: skewY(10deg);
    margin: 100px 0;
}
.box_img img{
    width: 100%;
    height: 100%;
}
.box_img>span{
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.432);
}
.box_img>h4{
    position: absolute;
    color: #fff;
    left: 0;
    top: 0;
    font-family: 'Noto Sans B';
    font-size: 40px;
    margin: 20px;
    text-shadow:  0 0 5px rgb(255, 255, 255);
}

.box_text>span{
    width: 300px;
    height: 400px;
    top: 0;
    left: 0;
    position: absolute;
}
.box_text>p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Noto Sans';
    text-align: left;
    color: #fff;
    font-weight: 900;
    font-size: 17px;
}
.box_text{opacity: 0; font-size: 20px;}

.box:nth-child(1){
    position: absolute;
    left: 200;
    top: 100;
}
.box:nth-child(2){
    position: absolute;
    left: 600;
    top: 350;
}
.box:nth-child(3){
    position: absolute;
    left: 1000;
}
.box:nth-child(4){
    position: absolute;
    left: 1450;
    top: 250;
}
/*section3 끝*/

/*company*/
#company{
    width: 100%;
    height: 100vh;
    margin-bottom: 200px;
    float: left;
    overflow: hidden;
}
.company_title{
    font-family: 'Noto Sans B';
    font-size: 48px;
    text-align: center;
    margin-bottom: 130px;
}

.cb>h5{
    font-family: 'Noto Sans B';
    font-size: 24px;
}
.cb{
    position: relative;
    overflow: hidden;
}
.cleft>h5{
    position: absolute;
    right:0;
    top: 50%;
    transform: translate(0,-50%);
    margin-right: 5%;
}
.cright>h5{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    margin-left: 5%;
}


.b1>.cb:nth-child(1){
    width: 40%;
    height: 150px;
    float: left;
    background-color: #F9F7F7;
}
.b1>.cb:nth-child(2){
    width: 60%;
    height: 150px;
    float: right;
    background-color: #112D4E;
    color: #fff;
}
.b2>.cb:nth-child(1){
    width: 60%;
    height: 150px;
    float: left;
    background-color: #DBE2EF;
}
.b2>.cb:nth-child(2){
    width: 40%;
    height: 150px;
    float: right;
    background-color: #3F72AF;
    color: #fff;
}
.b3>.cb:nth-child(1){
    width: 70%;
    height: 150px;
    float: left;
    background-color: #3F72AF;
    color: #fff;
}
.b3>.cb:nth-child(2){
    width: 30%;
    height: 150px;
    float: right;
    background-color: #DBE2EF;
}
.b4>.cb:nth-child(1){
    width: 50%;
    height: 150px;
    float: left;
    background-color: #112D4E;
    color: #fff;
}
.b4>.cb:nth-child(2){
    width: 49.9%;
    height: 150px;
    float: right;
    background-color: #F9F7F7;
}




.cb>div{
    position: absolute;
    width:400%;
    font-size: 145px;
    font-family: 'NanumSquare_acEB';
    animation: filter 20s linear infinite;
    padding-inline-start: 20px;
    opacity: 0;
    letter-spacing: -5;
}
.cb:hover > div{
    opacity: 1;
    animation-play-state: running;
}
.b1>.cleft>div,.b2>.cleft>div,.b3>.cright>div,.b4>.cright>div{
    color: rgba(0, 0, 0, 0.3);
}
.b1>.cright>div,.b2>.cright>div,.b3>.cleft>div,.b4>.cleft>div{
   color: rgba(255, 255, 255, 0.3);
}
@keyframes filter {
    to {
      transform: translateX(-50%);
    }
    from {
      transform: translateX(10%);
    }
  }

/*company 끝*/

/*footer*/
footer{
    width: 100%;
    height: 600px;
    float: left;
    background-color: #101111;
    position: relative;
}
.footer{
    width: 80%;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.f_icon{
    width: 100%;
    margin: auto;
    text-align: center;
}
.f_icon ul{
    display: inline-block;
}
.f_icon li{
    margin-left: 20px;
}
.f_icon li:first-child{
    margin-left: 0;
}
.fa-brands{
    font-size: 30px;
}


.footer>div{
    float: left;
    width: 100%;
}
.hr{
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 80px 0;
}


.f_icon li,.f_menu li{
    float: left;
}
.f_icon a,.f_menu a{
    color: #fff;
}


.f_menu img{
    float: left;
}
.f_menu>ul{
    float: right;
    line-height: 37px;
}
.f_menu li{
    margin-left: 70px;
}
/*footer 끝*/