@font-face {
    font-family: 'Noto Sans';
    src: url(../font/NotoSansKR-Light.otf);
}
@font-face {
    font-family: 'Noto Sans M';
    src: url(../font/NotoSansKR-Medium.otf);
}
@font-face {
    font-family: 'Noto Sans B';
    src: url(../font/NotoSansKR-Bold.otf);
}
@font-face {
    font-family: 'NanumSquare_ac';
    src: url(../font/NanumSquare_acL.ttf);
}
@font-face {
    font-family: 'NanumSquare_acEB';
    src: url(../font/NanumSquare_acEB.ttf);
}
*{margin: 0; padding: 0;}
html, body {
    height: 100%;
    font-family: 'Noto Sans';
}

a{  
    text-decoration: none;
    color: #000;
}
img{
    display: block;
}
li{
    list-style: none;
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #dbe2efb7; /* Set a background color */
    color: #112D4E; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 20px 21.2px; /* Some padding */
    font-size: 18px; /* Increase font size */
    border-radius: 50%;
}
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    color: #fff;
  }


/*header*/
.main-tool-bar{
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    transition: ease 0.4s;
    transition-duration: ease 0.4s;
    z-index: 99;
}
.main-tool-bar--scrolled {
    background-color: rgba(255, 255, 255, 0.671);
  }
header:hover{
    background-color: #fff;
    border-bottom: 1px solid rgb(177, 177, 177);
}


header a{
    color: rgb(0, 0, 0);
    display: inline-block;
    font-weight: 900;
}
header>div{
    width: 80%;
    height: 100%;
    margin: auto;
}
.logo_img{
    position: relative;
}
.logo_img img{
    position: absolute;
    top: 0;
    left: 0;
}
.logo_img img:nth-child(1){
    opacity: 0;
}

header img{
    float: left;
    margin-top: 31.5px;
}
header nav{
    float: right;
}
header ul{
    margin: 0;
    line-height: 100px;
}
header li{
    margin-left: 50px;
    line-height: 100%;
    display: inline-block;
}
.cool-link::after{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #3F72AF;
    transition: width .3s;
    margin-top: 5px;
}
.cool-link:hover::after{
    width: 100%;
    transition: width .3s;
}
/*header 끝*/



/*section1*/
.s1{
    position: relative;
    overflow: hidden;
    
}
.s1_title{
    width: 100%;
    margin-bottom: 550px;
    text-align: right;
    padding: 10px;
}
.s1_title>span{
    width: 80%;
    display: block;
    margin: auto;
    font-family: 'Noto Sans B';
    font-size: 100px;
    color: rgb(0, 0, 0);
}
.s1_img{
    width: 80%;
    margin: auto;
}
.s1_img>img{
    position: absolute;
    top: 0;
    left: 0;
}
.s1_img>img:nth-child(2){
    top: 250;
    left: 1000;
}
.s1_img>img:nth-child(3){
    top: 60;
    left: 200;
}
.s1_img>img:nth-child(1){
    top: 80;
    left: 100;
}

.s11{
    overflow: hidden;
}
.s11>img{
    float: left;
    position: relative;
}
.s1_des{
    text-align: left;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.s1_des>span{
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: -1;
}
.s1_des>h4{
    margin-top: 200px;
    font-family: 'Noto Sans B';
    font-size: 40px;
    color: #fff;
    margin-left: 5%;
}
.s1_des>p{
    margin-top: 100px;
    font-family: 'Noto Sans';
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    margin-left: 5%;
}
/*section1 끝*/

/*section2*/
.s2{
    position: relative;
    overflow: hidden;
    
}
.s2_title{
    width: 100%;
    margin-bottom: 600px;
    text-align: left;
}
.s2_title>span{
    width: 80%;
    display: block;
    margin: auto;
    font-family: 'Noto Sans B';
    font-size: 100px;
    color: rgb(0, 0, 0);
}
.s2_img{
    width: 80%;
    margin: auto;
}
.s2_img>img{
    position: absolute;
    top: 0;
    left: 0;
}
.s2_img>img:nth-child(2){
    top: 250;
    left: 1030;
}
.s2_img>img:nth-child(3){
    top: 0;
    left: 250;
}
.s2_img>img:nth-child(1){
    top: 250;
    left: 120;
}

.s22{
    overflow: hidden;
}
.s22>img{
    float: left;
    position: relative;
}
.s2_des{
    text-align: right;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.s2_des>span{
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;
    z-index: -1;
}
.s2_des>h4{
    margin-top: 200px;
    font-family: 'Noto Sans B';
    font-size: 40px;
    color: #fff;
    margin-right: 5%;
}
.s2_des>p{
    margin-top: 100px;
    font-family: 'Noto Sans';
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    margin-right: 5%;
}
/*section2 끝*/

/*section3*/
.s3{
    position: relative;
    overflow: hidden;
    
}
.s3_title{
    width: 100%;
    margin-bottom: 600px;
    text-align: right;
}
.s3_title>span{
    width: 80%;
    display: block;
    margin: auto;
    font-family: 'Noto Sans B';
    font-size: 100px;
    color: rgb(0, 0, 0);
}
.s3_img{
    width: 80%;
    margin: auto;
}
.s3_img>img{
    position: absolute;
    top: 0;
    left: 0;
}
.s3_img>img:nth-child(2){
    top: 250;
    left: 1050;
}
.s3_img>img:nth-child(3){
    top: 50;
    left: 200;
}
.s3_img>img:nth-child(1){
    top: 200;
    left: 370;
}

.s33{
    overflow: hidden;
}
.s33>img{
    float: left;
    position: relative;
}
.s3_des{
    text-align: left;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.s3_des>span{
    width: 45%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: -1;
}
.s3_des>h4{
    margin-top: 200px;
    font-family: 'Noto Sans B';
    font-size: 40px;
    color: #fff;
    margin-left: 5%;
}
.s3_des>p{
    margin-top: 100px;
    font-family: 'Noto Sans';
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    margin-left: 5%;
}


/*section1 끝*/

/*footer*/
footer{
    width: 100%;
    height: 600px;
    float: left;
    background-color: #ffffff;
    position: relative;
}
.footer{
    width: 80%;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.f_icon{
    width: 100%;
    margin: auto;
    text-align: center;
}
.f_icon ul{
    display: inline-block;
}
.f_icon li{
    margin-left: 20px;
}
.f_icon li:first-child{
    margin-left: 0;
}
.fa-brands{
    font-size: 30px;
}


.footer>div{
    float: left;
    width: 100%;
}
.hr{
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
    margin: 80px 0;
}


.f_icon li,.f_menu li{
    float: left;
}
.f_icon a,.f_menu a{
    color: rgb(0, 0, 0);
}


.f_menu img{
    float: left;
}
.f_menu>ul{
    float: right;
    line-height: 37px;
}
.f_menu li{
    margin-left: 70px;
}
/*footer 끝*/