@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 헤드 font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 본문 kr font-family: 'Noto Sans KR', sans-serif; */
*{padding: 0; margin: 0; color: #2e302f; max-width: cover;}
ul,li,ol{list-style: none;}
img{display: block;}
html{font-size: 15px;}
/* 1-15, 2-30,2.5-37, 3-45, 4-60,8-120, 12-180, 13-195, 13.3 */
a{text-decoration: none; color: inherit;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}


/* set */

/* header*/
.logo{
    padding: 37px;    
    width: 100%;
    overflow: hidden;
    display: flex;
    border-bottom: 1px solid #2e302f;
    justify-content: center;
}
.logo img{
    width: 551px;
    height: 41px;
    /* margin-left: -18px; */
}
header i{
    float: right;
    margin-right:5.26%;/*5.26%*/
    color: #2e302f;
    font-size: 1.5rem;
    margin-top: -61px;
}
/* header*/

/* section menu */
section{
    text-align: center;
    padding: 70px 0 65px 0;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
}
.line{
    position: absolute;
    width: 1px;
    height:821px;
    top: 0px;
    left: 13.68%;
    background-color: #2e302f;
}
.line2{
    position: absolute;
    width: 1px;
    height:821px;
    top: 0px;
    right: 13.68%;
    background-color: #2e302f;
}
section li{
    margin-top: 76px;
}

/* section menu */












/* 반응형 */
/*pc desktop ( 가로폭 1024이상 )1920 1025 */
@media screen and (min-width:1024px){
    /* header*/
.logo{
    padding: 37px;    
    width: 100%;
    overflow: hidden;
    display: flex;
    border-bottom: 1px solid #2e302f;
    justify-content: center;
}
.logo img{
    width: 551px;
    height: 41px;
    /* margin-left: -18px; */
}
header i{
    float: right;
    margin-right:5.26%;/*5.26%*/
    color: #2e302f;
    font-size: 1.5rem;
    margin-top: -61px;
}
/* header*/

/* section menu */
section{
    text-align: center;
    padding: 70px 0 65px 0;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
}
.line{
    position: absolute;
    width: 1px;
    height:821px;
    top: 0px;
    left: 13.68%;
    background-color: #2e302f;
}
.line2{
    position: absolute;
    width: 1px;
    height:821px;
    top: 0px;
    right: 13.68%;
    background-color: #2e302f;
}
section li{
    margin-top: 76px;
}
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */







/* tablet(가로폭 768px이상 1023px 이하) */
@media screen and (min-width:768px)and (max-width:1023px){
    /* header*/
.logo{
    padding: 37px;    
    width: 100%;
    overflow: hidden;
    display: flex;
    border-bottom: 1px solid #2e302f;
    justify-content: center;
}
.logo img{
    width: 551px;
    height: 41px;
    /* margin-left: -18px; */
}
header i{
    float: right;
    margin-right:5.26%;/*5.26%*/
    color: #2e302f;
    font-size: 1.5rem;
    margin-top: -61px;
}
/* header*/

/* section menu */
section{
    text-align: center;
    padding: 70px 0 65px 0;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
}
.line{
    position: absolute;
    width: 1px;
    height:821px;
    top: 0px;
    left: 13.68%;
    background-color: #2e302f;
}
.line2{
    position: absolute;
    width: 1px;
    height:821px;
    top: 0px;
    right: 13.68%;
    background-color: #2e302f;
}
section li{
    margin-top: 76px;
}
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */









/* mobile device(가로폭 767px 이하) */
@media screen and (max-width:767px){
    /* header*/
.logo{
    padding: 37px;    
    width: 100%;
    overflow: hidden;
    display: flex;
    border-bottom: 1px solid #2e302f;
    justify-content: center;
}
.logo img{
    width: 551px;
    height: 41px;
    /* margin-left: -18px; */
}
header i{
    float: right;
    margin-right:5.26%;/*5.26%*/
    color: #2e302f;
    font-size: 1.5rem;
    margin-top: -61px;
}
/* header*/

/* section menu */
section{
    text-align: center;
    padding: 70px 0 65px 0;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
}
.line{
    position: absolute;
    width: 1px;
    height:821px;
    top: 0px;
    left: 13.68%;
    background-color: #2e302f;
}
.line2{
    position: absolute;
    width: 1px;
    height:821px;
    top: 0px;
    right: 13.68%;
    background-color: #2e302f;
}
section li{
    margin-top: 76px;
}

}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */







/* mobile device(가로폭 480px 이하) */
@media screen and (max-width:480px){
    
/* header*/
.logo{
    padding: 37px;    
    width: 100%;
    overflow: hidden;
    display: flex;
    border-bottom: 1px solid #2e302f;
    justify-content: center;
}
.logo img{
    width: 400px;
    height: 31px;

}

header i{
    float: right;
    margin-right: 3%;
    color: #2e302f;
    font-size: 1rem;
    margin-top: -54px;
}

/* section menu */
section{
    text-align: center;
    padding: 20vh 0 20vh 0;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
}
.line{
    position: absolute;
    width: 1px;
    height:100%;
    top: 0px;
    left: 13.68%;
    background-color: #2e302f;
}
.line2{
    position: absolute;
    width: 1px;
    height:100%;
    top: 0px;
    right: 13.68%;
    background-color: #2e302f;
}
section li{
    margin-top: 55px;
}

/* ///////////////// */
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */